Editor
Game
Test
Tools/**
Assets/Scripts/**/__pycache__
Source/BIEngine/MSVC/BIEngine.VC.db
Source/BIEngine/3rdParty
Source/BIGame/MSVC/BIEngine.VC.db
Source/Lib
**/MSVC/.vs
**/MSVC/packages
**/Temp/**